@import url(bootstrap.css);

h1 {font-size:70px;}

body {background-image:url('a.jpg');}

h1 {color:black;}

h2 {color:black;}

p {color:black;}

p {font-size:20px;}

h2 {font-size:40px;}

.container {background-color : Gray;}
