@import url(bootstrap.css);

h1 {font-size:70px;}

body {background-image:url('https://f.cloud.github.com/assets/5040652/888316/eadb8dbc-fa0b-11e2-98a7-e6a4db8c39cd.jpg');}

h1 {color:black;}

h2 {color:black;}

p {color:black;}

p {font-size:20px;}

h2 {font-size:40px;}

.container {background-color : Gray;}
